body 
{
    font-family: Verdana;
    font-size: small;
}

.book
{
    margin: 10px;
    padding: 10px;
    border-style: groove;
    border-color: #FF66FF;
    border-width: 2px;
    background-color: #CCEAFF;
}

.bold
{
    font-weight: bold;   
}

.notes
{
    border: dashed 1px #FF66FF;
    padding: 10px;
    margin: 10px;
    background-color: #F1F1F1;    
}

.bookList
{
    border: dashed 1px #FF33FF;
    
    padding: 10px;
    margin: 10px;
    border-color: #FF0000;
    width: 500px;
    
}

.wishList
{
    margin-left: 500px;
    height: 100px;
    width: 400px;
}

.alternatingRowStyle
{
    background-color: #FFFFCC;
    
}

.fieldHeader
{
    background-color: #0099FF;
    font-weight: bold;
    color: White;
}

.heading
{
    font-size:medium;
    background-color: #0099FF;
    text-align: center;
    font-weight: bold;
    color: #FFFFCC;
}