<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="AirportWebNAVYConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AirportNAVY.mdf;Integrated Security=True;User Instance=True; Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.web>

        <!--<roleManager enabled="true" />--> <!--Firstly we commented out this-->
        <authentication mode="Forms" >
            <!--<forms loginUrl="Login.aspx"/>-->      
            
        </authentication>
        
        
        
        
        <anonymousIdentification enabled="true"  />


        <!--membership setting - got it from machine.config-->
        <membership>
            <providers>
                <!--clear tag means it voids membership info from machine.config and override here in web.config-->    
                <clear/>


                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="AirportWebNAVYConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
            </providers>
        </membership>
        <!--end of membership setting-->
        
        
        <profile>
            <providers>
                <!--clear tag means it voids membership info from machine.config and override here in web.config-->                 
                <clear/>
                <add name="AspNetSqlProfileProvider" connectionStringName="AirportWebNAVYConnection" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
            <properties>
                <add name="FirstName" allowAnonymous="true" />
                <add name="LastName" allowAnonymous="true" />
                <add name="LastVisit" type="System.DateTime" allowAnonymous="true" />
                
                <group name="Address">
                    <add name="Street" allowAnonymous="true"/>
                    <add name="City" allowAnonymous="true"/>
                    <add name="PostCode" allowAnonymous="true"/>                    
                </group>
                
            </properties>
            
        </profile>

        <!--beginning of role setting-->
        
        <!--We just copied from machine.config and paste it here, modified this element to have enabled attr set to true-->
        <roleManager enabled="true"> 
            
            <providers>
                <clear/>
                <add name="AspNetSqlRoleProvider" connectionStringName="AirportWebNAVYConnection" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
                <add name="AspNetWindowsTokenRoleProvider" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </roleManager>
        
        <!--end of role setting-->
        
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    
    <!--beginning of mail server setting-->
    <system.net>
        <mailSettings>
            <smtp from="juehan.lee@tafensw.net.au">
                <network host="mail.tafensw.edu.au" password="" userName=""/>
                
                <!--<smtp from="to.johnny.lee@gmail.com">-->
                <!--<network host="smtp.gmail.com" password="" userName=""/>-->
                
            </smtp>
            
        </mailSettings>        
        
    </system.net>
    <!--end of mail server setting--> 

</configuration>
